@model MVC_Test.Models.EvilCreature

@{
    ViewBag.Title = "Battle";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="container">
    <h2>Battle</h2>
    <p>@Model.Type - lvl @Model.Lvl</p>
</div>

