.You {
    height: 30%;
    width: 100%;
}

.Enemy {
    height: 30%;
    width: 100%;
}

.Enemy .Character {
        float: right;
        margin-right: 50px;
    }

.You .Character {
    margin-left: 5%;
}

.Character {
    width: 200px;
    height: 100%;
}

.HP {
    height: 30px;
    width: 80%;
}

.Menu {
    margin-left: 5%;
    margin-top: 2%;
    height: 40%;
}

.Attacks, div.Battlelog {
    width: 35%;
    float: left;
}

.Battlelog {
    height:200px;
}
.Attacks input{
    height: 100px;
    width: 150px;
}

.Attack1, .Attack2, .Attack3, .Attack4 {
    height: 100px;
    width: 180px;
    float: left;
    text-align: center;
    border: solid black 1px;
}

.Bag, .Run {
    height: 100px;
    width: 20%;
    margin-right: 5%;
    float: right;
    text-align: center;
    border: solid black 1px;
    font-size: 30px;
}
